<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <ion-grid fixed>
        <ion-row align-items-stretch>
          <ion-col col-12 align-self-stretch align-self-center>
            <ion-card>
                <ion-card-header>
                  <ion-card-title>Cuestionario</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-item *ngFor="let question of questions">
                    <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>
                    <br>
                  </ion-item>
                </ion-card-content>
                <ion-row no-padding justify-content-center>
                    <ion-col col-auto text-right>
                        <ion-button [disabled]='!form.valid' type="submit" fill="clear" size="small" color="primary">
                        <ion-icon name='send' slot="start"></ion-icon>
                        Send
                        </ion-button>
                    </ion-col>
                  </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>